@import url(https://fonts.google.com/specimen/Nunito);

body {
    font-family: 'Nunito';
    word-spacing: 3px;
}

.nav-item {
    padding-right: 40px;
}

.nav-item a {
    font-size: 20px;
}

.banner-background {
    width: 100vw;
    height: 70vh;
}

.carousel-item {
    text-align: -webkit-center;
}

.title {
    text-align: center;
    font-weight: bold;
}

.card_why {
    width: 35vw;
    padding: 0;
    margin-top: 30px;
}

.custom-card-title {
    font-size: 20px;
    text-align: center;
}

.accordion-item {
    margin-bottom: 50px;
}
