.container {
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    margin: 0 1vw 2vw 1vw ;
    border-radius: 2vw;
}

.img {
    width: 20vw;
    height: 20vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.content {
    border-top: #cecbcb8b solid 2px;
    width: 20vw;
    margin-top: 20px;
    padding: 20px;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.content_header {
    display: flex;
}

.desc {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15vw;
    overflow: hidden;
}
